@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.navbar-container {
    background-color: #f8f9fb;
    font-family: 'Inter', sans-serif;
    color: #3870EA;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 10px 0px;
    z-index: 999999;
}

.navbar-logo {
    height: 70px;
    max-width: 100%;
    object-fit: contain;
}